<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/' method="post">
        <input type="text" name="task">
        <input type="submit">
       
    </form>

    <!-- <ul>
        {% for x in imag %}
        {% for y in info%}
            <li><img src="{{x}}" alt=""><span>{{y}}</span></li>

        {% endfor %}
        {%endfor%}
    </ul> -->
    {% if dinfo%}
        {% for key,value in dinfo.items()%}
            <span>{{key}}</span>
            <img src="{{value}}" alt="">
        {%endfor%}
    {%endif%}    
    
    </div>
</body>
</html>