<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Book Search</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</head>
<body>
    
    <div class="container">
        <div class="mysearch">
                <form action='/' method="post">
                    <input type="text" name="task">
                    <input type="submit">
                   
                </form>

        </div>
            
        <div class="mymain">
            <div class="mylist">
               
                    {% if dinfo%}
                        {% for key,value in dinfo.items()%}
                        <div class="book">
                            <span>{{key}}</span>
                            <img src="{{value}}" alt="">
                        </div>
                        {%endfor%}
                    {%endif%} 

               
                
    

            </div>
           
        </div>
     </div>
</body>
</html>